.footer {
  box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.icon-btn {
  padding: 0;
  border: none;
  background: transparent;

  .icon {
    width: 16px;
    height: 16px;
  }
}


.chars {
  &__item {
    min-height: 48px;
  }

  &__value {
    min-width: 40px;
  }
}

.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
}

@media (min-width: 992px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1020;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

  .footer {
    &__error {
      justify-content: center;
    }
  }
}