.icon-btn {
  padding: 0;
  border: none;
  background: transparent;

  .icon {
    width: 16px;
    height: 16px;
  }
}


.chars {
  &__item {
    min-height: 48px;
  }

  &__value {
    min-width: 40px;
  }
}